
html,body
{
  margin:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.BackGround
{
  background-image: url("https://wallpapers.com/images/hd/uwu-66wptzayxi0yorqg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  animation-name: BodyAnimation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  filter: blur(10px);
}
@keyframes BodyAnimation
{
  0%,100%
  {
    background-size: 200%;
    background-position: 0% 50%;
  }
  50%
  {
    background-size: 200%;
    background-position: 100% 50%;
  }
}
.Content
{
  left: calc((100% - 50%) / 2);
  top: 100px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(138, 0, 143, 0.13);
  position: absolute;
  width: 50%;
  height: fit-content;
  color: black;
  border: 5px solid pink;
}
.image
{
  margin-left: calc((100% - 50%) / 2);
  width: 50%;
  border-radius: 20px;
  aspect-ratio: 1;
  border: 5px solid crimson;
  background-color: rgba(165, 42, 42, 0.336);
  cursor: pointer;
  background-image: url(assets/ZdjęcieIkona.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.file 
{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0s;
  opacity: 0;
}
.image:hover
{
  
  transition: 1s;
  transform: scale(1.05);
}
.bar
{
  border: 5px solid black;
  width: 90%;
  margin-left: 5%;
  height: 15px;
  border-radius: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.363);

}
.bar::before
{
  content: "";
  width: var(--Wynik);
  height: 100%;
  left: 0%;
  background-color: red;
  position: absolute;
}
.Text
{
  font-size: large;
}
.Przelicz
{
  margin: 10px;
  border: 5px solid black;
  color: white;
  background-color: rgba(0, 0, 0, 0.548);
  border-radius: 20px;
  height: fit-content;
  transition: 1s;
  width: calc(100% - 30px);
}
.Przelicz:hover
{
  transition: 1s;
  transform: scale(0.9);
}
@media only screen and (max-width: 700px) {
  .Content
  {
    left: 0;
    width: calc(100% - 10px);
  }
}
